################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################


/VendaVeiculosAPI/.vs/
/VendaVeiculosAPI/bin/Debug/
/VendaVeiculosAPI/obj/Debug/
